In [1]:
# To display full output in Notebook, instead of only the last result
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
# Load the data frames
summary_nasa = pd.read_csv("NASA_summary_all.csv")
summary_bmd = pd.read_csv("BMD_summary.csv")

In [4]:
# Get columns excluding keys
nasa_cols = set(summary_nasa.columns) - {'location', 'season'}
bmd_cols = set(summary_bmd.columns) - {'location', 'season'}

# Check for overlapping columns
overlap = nasa_cols & bmd_cols
print(f"Overlapping columns: {overlap if overlap else 'None'}")

Overlapping columns: None

In [5]:
# Standardize location name in BMD data
summary_bmd['location'] = summary_bmd['location'].replace(
    {'Mymensingh': 'Muktagacha'}
)

In [6]:
# Full join
combined = pd.merge(
    summary_nasa,
    summary_bmd,
    on=['location', 'season'],
    how='outer',  # Full outer join
    indicator=True  # Show source of each row
)

In [7]:
# Check results
print(f"Combined shape: {combined.shape}")
print(combined['_merge'].value_counts())  # Show left/right/both counts
combined.head()

Combined shape: (24, 100)
_merge
both          24
left_only      0
right_only     0
Name: count, dtype: int64

,location,season,PAR_total,PAR_mean,PAR_std,UVA_total,UVA_mean,UVA_std,UVB_total,UVB_mean,...,thi_moderate_pct,wind_speed_mean,wind_speed_std,calm_days_pct,S_SE_pct,N_NW_pct,W_NW_pct,S_SW_pct,N_NE_pct,_merge
0,Bogura,2021S1,508.03,5.291979,1.735873,58.64,0.610833,0.227738,1.26,0.013125,...,0.052083,1.843731,1.132550,0.677,0.135417,0.864583,0.000000,0.000000,0.00000,both
1,Bogura,2021S2,689.25,7.658333,1.559412,79.65,0.885000,0.207918,1.95,0.021667,...,0.088889,2.865687,1.528860,0.333,0.033333,0.522222,0.444444,0.000000,0.00000,both
2,Bogura,2021S3,771.49,7.953505,2.045928,97.70,1.007216,0.262010,2.75,0.028351,...,0.783505,3.980412,2.071062,0.134,0.000000,0.000000,0.350515,0.649485,0.00000,both
3,Bogura,2021S4,618.66,7.544634,1.733994,81.01,0.987927,0.218958,2.26,0.027561,...,0.963415,3.450356,2.300726,0.232,0.000000,0.000000,0.000000,1.000000,0.00000,both
4,Bogura,2022S1,554.94,5.780625,1.247179,65.33,0.680521,0.146362,1.29,0.013437,...,0.000000,1.897917,1.514837,0.656,0.000000,0.437500,0.000000,0.093750,0.46875,both

In [8]:
# Drop the '_merge' column
combined = combined.drop(columns='_merge')

In [9]:
combined.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 99 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   location                      24 non-null     object
 1   season                        24 non-null     object
 2   PAR_total                     24 non-null     float64
 3   PAR_mean                      24 non-null     float64
 4   PAR_std                       24 non-null     float64
 5   UVA_total                     24 non-null     float64
 6   UVA_mean                      24 non-null     float64
 7   UVA_std                       24 non-null     float64
 8   UVB_total                     24 non-null     float64
 9   UVB_mean                      24 non-null     float64
 10  UVB_std                       24 non-null     float64
 11  UV_idx_mean                   24 non-null     float64
 12  UV_idx_median                 24 non-null     float64
 13  UV_idx_std                    24 non-null     float64
 14  gwet_top_mean                 24 non-null     float64
 15  gwet_top_median               24 non-null     float64
 16  gwet_top_std                  24 non-null     float64
 17  gwet_top_95p                  24 non-null     float64
 18  gwet_top_5p                   24 non-null     float64
 19  gwet_root_mean                24 non-null     float64
 20  gwet_root_median              24 non-null     float64
 21  gwet_root_std                 24 non-null     float64
 22  gwet_root_95p                 24 non-null     float64
 23  gwet_root_5p                  24 non-null     float64
 24  gwet_prof_mean                24 non-null     float64
 25  gwet_prof_median              24 non-null     float64
 26  gwet_prof_std                 24 non-null     float64
 27  gwet_prof_95p                 24 non-null     float64
 28  gwet_prof_5p                  24 non-null     float64
 29  PAR_x_gwet_root_mean          24 non-null     float64
 30  PAR_x_gwet_root_std           24 non-null     float64
 31  UVB_div_gwet_top_mean         24 non-null     float64
 32  UVB_div_gwet_top_std          24 non-null     float64
 33  max_consecutive_dry_days      24 non-null     int64
 34  gwet_gradient_mean            24 non-null     float64
 35  gwet_gradient_std             24 non-null     float64
 36  UVA_UVB_ratio_mean            24 non-null     float64
 37  UVA_UVB_ratio_median          24 non-null     float64
 38  UVA_UVB_ratio_std             24 non-null     float64
 39  PAR_fraction_mean             24 non-null     float64
 40  PAR_fraction_median           24 non-null     float64
 41  PAR_fraction_std              24 non-null     float64
 42  dry_days_pct                  24 non-null     float64
 43  high_UV_days_pct              24 non-null     float64
 44  C3_PAR_active_days_pct        24 non-null     float64
 45  C4_PAR_active_days_pct        24 non-null     float64
 46  temp_max_mean                 24 non-null     float64
 47  temp_max_median               24 non-null     float64
 48  temp_max_std                  24 non-null     float64
 49  temp_max_95p                  24 non-null     float64
 50  temp_max_above_30_pct         24 non-null     float64
 51  temp_max_above_35_pct         24 non-null     float64
 52  temp_min_mean                 24 non-null     float64
 53  temp_min_median               24 non-null     float64
 54  temp_min_std                  24 non-null     float64
 55  temp_min_5p                   24 non-null     float64
 56  temp_min_below_10_pct         24 non-null     float64
 57  temp_min_below_5_pct          24 non-null     float64
 58  temp_range_mean               24 non-null     float64
 59  temp_range_median             24 non-null     float64
 60  temp_range_std                24 non-null     float64
 61  temp_range_above_10_pct       24 non-null     float64
 62  temp_range_above_15_pct       24 non-null     float64
 63  temp_range_above_20_pct       24 non-null     float64
 64  gdd_total                     24 non-null     float64
 65  gdd_mean_daily                24 non-null     float64
 66  rh_max_mean                   24 non-null     float64
 67  rh_max_std                    24 non-null     float64
 68  rh_min_mean                   24 non-null     float64
 69  rh_min_std                    24 non-null     float64
 70  rh_range_mean                 24 non-null     float64
 71  rh_range_std                  24 non-null     float64
 72  high_humidity_pct             24 non-null     float64
 73  low_humidity_pct              24 non-null     float64
 74  vpd_upper_mean                24 non-null     float64
 75  vpd_lower_mean                24 non-null     float64
 76  vpd_middle_mean               24 non-null     float64
 77  vpd_stressed_pct              24 non-null     float64
 78  vpd_recovery_risk_pct         24 non-null     float64
 79  total_rainfall                24 non-null     float64
 80  rainfall_mean                 24 non-null     float64
 81  rainy_days_pct                24 non-null     float64
 82  heavy_rain_days_pct           24 non-null     float64
 83  max_consecutive_no_rain_days  24 non-null     int64
 84  rain_intensity_index          24 non-null     float64
 85  thi_mean                      24 non-null     float64
 86  thi_std                       24 non-null     float64
 87  thi_95p                       24 non-null     float64
 88  thi_5p                        24 non-null     float64
 89  thi_mild_pct                  24 non-null     float64
 90  thi_moderate_pct              24 non-null     float64
 91  wind_speed_mean               24 non-null     float64
 92  wind_speed_std                24 non-null     float64
 93  calm_days_pct                 24 non-null     float64
 94  S_SE_pct                      24 non-null     float64
 95  N_NW_pct                      24 non-null     float64
 96  W_NW_pct                      24 non-null     float64
 97  S_SW_pct                      24 non-null     float64
 98  N_NE_pct                      24 non-null     float64
dtypes: float64(95), int64(2), object(2)
memory usage: 18.7+ KB

In [10]:
# Export to CSV
combined.to_csv('environmental_features.csv', index=False)

In [11]:
# Generate a data dictionary
def create_data_dictionary(df, filename="environmental_features_data_dictionary.xlsx"):
    """
    Generate and export detailed data dictionary to Excel
    
    Parameters:
    df: Input DataFrame
    filename: Output Excel filename
    """
    # Create base dictionary
    data_dict = pd.DataFrame({
        'Variable Name': df.columns,
        'Data Type': df.dtypes.values,
        'Non-Null Count': df.count().values,
        'Description': [''] * len(df.columns),  # Placeholder for explanations
        'Source': ['NASA/BMD'] * len(df.columns)
    })
    
    # Add metadata
    data_dict['Unique Values'] = df.nunique().values
    
    # Initialize additional columns
    data_dict['Min Value'] = np.nan
    data_dict['Max Value'] = np.nan
    data_dict['Range'] = ''
    data_dict['Sample Values'] = ''
    
    # Process columns
    for idx, col in enumerate(df.columns):
        if pd.api.types.is_numeric_dtype(df[col]):
            min_val = df[col].min()
            max_val = df[col].max()
            data_dict.at[idx, 'Min Value'] = min_val
            data_dict.at[idx, 'Max Value'] = max_val
            data_dict.at[idx, 'Range'] = f"{min_val:.4f} to {max_val:.4f}"
        else:
            unique_vals = df[col].unique()
            sample = ', '.join(map(str, unique_vals[:min(3, len(unique_vals))]))
            if len(unique_vals) > 3:
                sample += ', ...'
            data_dict.at[idx, 'Sample Values'] = sample
    
    # Add automatic categorization
    data_dict['Category'] = '—'
    categories = {
        'radiation': ['PAR', 'UV'],
        'gwet': ['gwet'],
        'temperature': ['temp'],
        'gdd': ['gdd'],
        'thi': ['thi'],
        'humidity': ['rh', 'humidity'],
        'vpd': ['vpd'],
        'rainfall': ['rain', 'dry_days', 'wet_days'],
        'wind': ['wind', 'calm', 'SE', 'NW', 'SW', 'NE']
    }
    
    for idx, col_name in enumerate(df.columns):
        col_lower = col_name.lower()
        for category, keywords in categories.items():
            if any(kw.lower() in col_lower for kw in keywords):
                data_dict.at[idx, 'Category'] = category
                break
    
    # Reorder columns
    column_order = [
        'Variable Name', 'Category', 'Description', 'Data Type', 
        'Non-Null Count', 'Source', 'Unique Values', 
        'Min Value', 'Max Value', 'Range', 'Sample Values'
    ]
    data_dict = data_dict[column_order]
    
    # Export to Excel
    with pd.ExcelWriter(filename, engine='openpyxl') as writer:
        data_dict.to_excel(writer, index=False, sheet_name='Data Dictionary')
        
        # Add category legend to second sheet
        legend = pd.DataFrame({
            'Category': list(categories.keys()),
            'Keywords': [', '.join(kws) for kws in categories.values()]
        })
        legend.to_excel(writer, index=False, sheet_name='Category Legend')
    
    print(f"Data dictionary exported to: {filename}")
    return data_dict

# Usage
create_data_dictionary(combined)

Data dictionary exported to: environmental_features_data_dictionary.xlsx

,Variable Name,Category,Description,Data Type,Non-Null Count,Source,Unique Values,Min Value,Max Value,Range,Sample Values
0,location,—,,object,24,NASA/BMD,3,NaN,NaN,,"Bogura, Cumilla, Muktagacha"
1,season,wind,,object,24,NASA/BMD,8,NaN,NaN,,"2021S1, 2021S2, 2021S3, ..."
2,PAR_total,radiation,,float64,24,NASA/BMD,24,508.030000,810.570000,508.0300 to 810.5700,
3,PAR_mean,radiation,,float64,24,NASA/BMD,24,5.291979,8.690222,5.2920 to 8.6902,
4,PAR_std,radiation,,float64,24,NASA/BMD,24,1.246466,2.446593,1.2465 to 2.4466,
...,...,...,...,...,...,...,...,...,...,...,...
94,S_SE_pct,wind,,float64,24,NASA/BMD,3,0.000000,0.135417,0.0000 to 0.1354,
95,N_NW_pct,wind,,float64,24,NASA/BMD,6,0.000000,1.000000,0.0000 to 1.0000,
96,W_NW_pct,wind,,float64,24,NASA/BMD,4,0.000000,0.444444,0.0000 to 0.4444,
97,S_SW_pct,wind,,float64,24,NASA/BMD,6,0.000000,1.000000,0.0000 to 1.0000,
98,N_NE_pct,wind,,float64,24,NASA/BMD,2,0.000000,0.468750,0.0000 to 0.4688,